@inherits LayoutComponentBase

<div class="page">
    <HeadContent>
        <RadzenTheme Theme="software" />
    </HeadContent>

    <main >
        <article class="content px-4">
            @Body

        </article>
    </main>

    <RadzenComponents />
</div>
